<p id="notice"><%= notice %></p>

<div class="card">
<div class="card-header p-5 text-center">
    <h1> 
          <%= @friend.first_name %>
          <%= @friend.last_name %>
  </h1>
  <br>
  <br>
    <p>
      <strong>Email:</strong>
      <%= @friend.email %> |
      <strong>Phone:</strong>
      <%= @friend.phone %> |
      <strong>Twitter:</strong>
      <%= @friend.twitter %>
    </p>
    <br>
    <br>

<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-primary" %>
<%= link_to 'Back', friends_path, class:"btn btn-dark"%>
  </div>
</div>


